body{
	background-color:#131418;
	margin: 0;
}
.imagelogo{
	position: absolute;
	width: 5vw;
	height:5vw;
	background-color: #0B0B0D;
}
div.barrelaterale{
	display:flex;
	width:5vw; 
	height:100vh;
	text-decoration:none; 
	text-align:center; 
	background-color:#1E1F26;
}
.imagelogo:hover {
  background-color: #0E0F11;
}
